-- Criação das tabelas
CREATE TABLE PREFERENCIAS_NOTIFICACAO (
    ID_PREFERENCIA NUMBER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    CIDADE VARCHAR2(100) NOT NULL,
    ESTADO VARCHAR2(2) NOT NULL,
    TEMPERATURA_MIN NUMBER(5,2),
    TEMPERATURA_MAX NUMBER(5,2),
    ATIVO NUMBER(1) DEFAULT 1,
    DATA_CRIACAO TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    DATA_ATUALIZACAO TIMESTAMP
);

CREATE TABLE ALERTAS_TEMPERATURA (
    ID_ALERTA NUMBER GENERATED ALWAYS AS IDENTITY PRIMARY KEY,
    CIDADE VARCHAR2(100) NOT NULL,
    ESTADO VARCHAR2(2) NOT NULL,
    TEMPERATURA NUMBER(5,2) NOT NULL,
    TIPO_ALERTA VARCHAR2(20) NOT NULL,
    MENSAGEM VARCHAR2(500) NOT NULL,
    DATA_HORA TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    STATUS VARCHAR2(20) DEFAULT 'ATIVO'
);

-- Procedures para Preferências
CREATE OR REPLACE PROCEDURE SP_INSERIR_PREFERENCIA (
    p_cidade IN VARCHAR2,
    p_estado IN VARCHAR2,
    p_temperatura_min IN NUMBER,
    p_temperatura_max IN NUMBER,
    p_id_preferencia OUT NUMBER
) AS
BEGIN
    INSERT INTO PREFERENCIAS_NOTIFICACAO (
        CIDADE, ESTADO, TEMPERATURA_MIN, TEMPERATURA_MAX, DATA_CRIACAO
    ) VALUES (
        p_cidade, p_estado, p_temperatura_min, p_temperatura_max, CURRENT_TIMESTAMP
    ) RETURNING ID_PREFERENCIA INTO p_id_preferencia;
    COMMIT;
END;
/

CREATE OR REPLACE PROCEDURE SP_ATUALIZAR_PREFERENCIA (
    p_id_preferencia IN NUMBER,
    p_cidade IN VARCHAR2,
    p_estado IN VARCHAR2,
    p_temperatura_min IN NUMBER,
    p_temperatura_max IN NUMBER,
    p_ativo IN NUMBER
) AS
BEGIN
    UPDATE PREFERENCIAS_NOTIFICACAO SET
        CIDADE = p_cidade,
        ESTADO = p_estado,
        TEMPERATURA_MIN = p_temperatura_min,
        TEMPERATURA_MAX = p_temperatura_max,
        ATIVO = p_ativo,
        DATA_ATUALIZACAO = CURRENT_TIMESTAMP
    WHERE ID_PREFERENCIA = p_id_preferencia;
    COMMIT;
END;
/

-- Procedures para Alertas
CREATE OR REPLACE PROCEDURE SP_INSERIR_ALERTA (
    p_cidade IN VARCHAR2,
    p_estado IN VARCHAR2,
    p_temperatura IN NUMBER,
    p_tipo_alerta IN VARCHAR2,
    p_mensagem IN VARCHAR2,
    p_id_alerta OUT NUMBER
) AS
BEGIN
    INSERT INTO ALERTAS_TEMPERATURA (
        CIDADE, ESTADO, TEMPERATURA, TIPO_ALERTA, MENSAGEM, DATA_HORA
    ) VALUES (
        p_cidade, p_estado, p_temperatura, p_tipo_alerta, p_mensagem, CURRENT_TIMESTAMP
    ) RETURNING ID_ALERTA INTO p_id_alerta;
    COMMIT;
END;
/

CREATE OR REPLACE PROCEDURE SP_ATUALIZAR_STATUS_ALERTA (
    p_id_alerta IN NUMBER,
    p_status IN VARCHAR2
) AS
BEGIN
    UPDATE ALERTAS_TEMPERATURA SET
        STATUS = p_status
    WHERE ID_ALERTA = p_id_alerta;
    COMMIT;
END;
/
